@import 'utils';

// small: 534px, 
//   medium: 800px, 
//   large: 1074px, 
//   huge: 1380px

.NewsList {
  width: 1330px;
  padding-top: 48px;
  margin: 2rem auto;
  transition: all .5s;
  &.loading {
    display: flex;
    justify-content: center;
  }

  @include media("<huge") {
    width: 1074px;
  }
  
  @include media("<large") {
    width: 800px;
  }
  
  @include media("<medium") {
    width: 534px;
  }

  @include media("<small") {
    width: 250px;
  }
}

