.Article {
  .darkBg {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
  }
  .box {
    position: fixed;
    z-index: 10;
    background-color: #fff;
    left: 50%;
    top: 8rem;
    width: 500px;
    height: 500px;
    overflow: scroll;
    transform: translate(-50%);
  }
}