@import 'utils';
body {
  background: $oc-gray-2;
  box-sizing: border-box;
  font-size: 14px;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
}
.textbtn {
  cursor: pointer;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-sizing: border-box;
  width: 150px;
  height: 40px;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;

  &.basic {
    background: #38d9a9;
    color: #fff;
  }
}