@import 'utils';

.NewsCard {
  display: inline-block;
  width: 250px;
  height: auto;
  margin: 8px;
  background-color: #fff;

  img {
    width: 250px;
  }
  .card-title {
    font-size: 1.5em;
    padding: 10px;
    line-height: 1.5rem;
  }
}